<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule ^app/core/(.*)$ app/core/$1 [L]
    RewriteRule ^$ index.php?url= [L]
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

    #RewriteRule ^$ app/core/ [L]
    #RewriteRule (.*) app/core/$1 [QSA,L]
</IfModule>
