<IfModule mod_rewrite.c>
   RewriteEngine on
#   RewriteRule ^(.*)/(.*)$ index.php?qstr=$1/$2 [NC]

   RewriteRule    ^$ index.php?url= [L]
   RewriteRule    ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>